@CHARSET "UTF-8";

@media screen and (min-width:700px) {
    img {
        width: 50%;
        height: auto;
        float: left;
    }
}

@media screen and (max-width:699px) {
    img {
        display: none;
    }
}

#panel {
	clear: left;
	overflow: auto;
	max-width: 800px;
	margin: 10em auto;
}


/* title block */
#titlePanel {
	max-width: 1000px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	margin: 1em auto;
	overflow: auto;
}

#title {
	width: 50%;
	float: left;
}

#title h1 {
	text-align: right;
}

#icon {
	width: 45%;
	float: left;
	padding-left: 10px;
}

#icon img {
	float: left;
}
