@CHARSET "UTF-8";

body {
}

@media screen and (min-width:700px) {
	#image {
	   width: 50%;
	}
	
	#image, #login {
	   float: left;
	}

    #panel #login {
        width: 47%;
    }
    
    #panel {
        margin: 10em auto;
    }
}

@media screen and (max-width:699px) {
    #image img {
        display: none;
    }
    
    #panel {
        margin: 1em auto;
    }
}

#panel {
	clear: left;
	overflow: auto;
	max-width: 900px;
}

#title {
	display: block;
	margin: 1em auto;
	width: 200px;
	height: auto;
}

/* input box */
#login {
	overflow: auto;
}

input {
	width: 90%;
}

h3 {
	text-align: center;
}

#buttonDiv {
	clear: left;
	float: right;
	margin-top: 1em;
	width: 100%;
}

button {
	float: right;
}

#buttonDiv {
	width: 100%;
}

#signUp {
	margin-top: 1em;
}